body {


}

/* ================================= 
  MOBILE
==================================== */

main {
	@include outer-container(100%);
	overflow-x: hidden;
	
	
	.title {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;				

		h1 {
			display: inline-block;

		}

		ul.desktop-buttons {
			display: none;
		}

		ul.mob-buttons {
			flex: 1 1 100%;
		}			

		button {
			display: inline-block;
			width: $base-spacing;
			height: $base-spacing;
			margin-bottom: 14px;
			padding: 0;
			

			border-radius: 50%;
			border: none;
			
			
			&:hover {
				cursor: pointer;
			}
			
			&.active {
				background: $twitter-blue;							
			}
			
  		h3 {
  			display: inline-block;
  		}
		}
		
	}
	
	
	
	a.smooth-link {
		position: relative;
		// width: 64px;
		height: 64px;
		// padding: 10px;
	}

	
	.tech-list {
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			svg {
				max-width: 80px;
				max-height: 69px;
			}
		}
	}
	
	
	svg.fa {
		transition: all .5s;
		fill: $tuatara;

		&:hover {
			fill: $twitter-blue;
		}
	}
	
}

button {
	padding: $base-spacing / 2;	
}



section {
	height: 100vh;
	position: relative;
	text-align: center;


	.wrapper {
		// position: relative;
		padding: $base-spacing $base-spacing / 2;
	}
	
}




/* ================================= 
  TABLET
==================================== */
	
@include media($tablet) {				

	section {
		.wrapper {
			padding: $base-spacing $base-spacing;	


		.title {
			flex-wrap: nowrap;

			ul.mob-buttons {
				display: none;
			}

			ul.desktop-buttons {
				display: inline-block;
				margin-left: $base-spacing;
			}
		}



		}
	}
}

/* ================================= 
  DESKTOP
==================================== */

@include media($desktop) {


	section {
		.wrapper {
			padding: $base-spacing * 2 $base-spacing * 2;

		.title {
			flex-wrap: nowrap;
			
			ul.mob-buttons {
				display: none;
			}			

			ul.desktop-buttons {
				display: inline-block;
				margin-left: $base-spacing;
			}


		}

		}
	}

}


