body {
	background: $white;

}

/* ================================= 
  MOBILE
==================================== */
header {
	// height: 100%;

	video {
		opacity: .5;
		position: fixed;
		min-width: 100%;
		min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
	}

	img.fallback {
		position: fixed;		
		min-width: 100%;
		min-height: 100%;
    width: auto;
    height: auto;
		opacity: 0;
		z-index: -50;
		transition: all .2s;		
		
		&.show {
			opacity: .5
		}
	
	}
}




main {
	@include outer-container(100%);
	overflow-x: hidden;
	
	
	.title {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;				

		h1 {
			display: inline-block;

		}

		div.desktop-buttons {
			display: none;
			
		}

		div.mob-buttons {
			flex: 1 1 100%;
		}			
		
		div.desktop-buttons, div.mob-buttons {

			button {
				display: inline-block;
				width: $base-spacing;
				height: $base-spacing;
				padding: 0;
				

				border-radius: 50%;
				border: none;
				
				
				&:hover {
					cursor: pointer;
				}
				
				&.active {
					background: $twitter-blue;							
				}
				
	  		h3 {
	  			display: inline-block;
	  		}
			}
			
		}
		

		
	}
	
	
	
	a.smooth-link {
		position: relative;
		height: 64px;
	}

	
	.tech-list {
		margin-top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			svg {
				max-width: 80px;
				max-height: 69px;
			}
		}
	}
	
	
	svg.fa {
		transition: all .5s;
		fill: $tuatara;

		&:hover {
			fill: $twitter-blue;
		}
	}
	
}

button {
	padding: $base-spacing / 2;	
}



section {
	height: 100vh;
	position: relative;
	text-align: center;


	.wrapper {
		padding: $base-spacing / 2 $base-spacing / 4;
	}
	
}



/* ================================= 
  TABLET
==================================== */
	
@include media($tablet) {				

	section {
		.wrapper {
			padding: $base-spacing $base-spacing;	

		.title {
			flex-wrap: nowrap;

			.mob-buttons button, .desktop-buttons button {
					margin-bottom: 14px;					
			}

			div.mob-buttons {
				display: none;
			}

			div.desktop-buttons {
				display: inline-block;
				margin-left: $base-spacing;
			}
		}

		}
	}
}

/* ================================= 
  DESKTOP
==================================== */

@include media($desktop) {


	section {
		.wrapper {
			padding: $base-spacing * 1 $base-spacing * 1;

		.title {
			flex-wrap: nowrap;
			
			div.mob-buttons button, div.desktop-buttons button {
					margin-bottom: 14px;					
			}
			
			div.mob-buttons {
				display: none;
				
			}			

			div.desktop-buttons {
				display: inline-block;
				margin-left: $base-spacing;
			}


		}

		}
	}

}


