/* ================================= 
  Variables
==================================== */

// Media Breakpoints
$desktop-lg: new-breakpoint(min-width 1150px 12);
$desktop: new-breakpoint(min-width 1000px 12);
$tablet: new-breakpoint(min-width 768px max-width 999px 12);
$phone-landscape: new-breakpoint(min-width 551px max-width 767px 12);
$phone: new-breakpoint(min-width 320px max-width 550px 12);




// Typography
@import "fonts";

@include VarelaRound;
@include Nunito;


$base-font-family: $Nunito;
$heading-font-family: $VarelaRound;

$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;


// Other Sizes
$base-border-radius: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white         : #FFFFFF !default;
$ghost         : #FAFAFA !default;
$snow          : #F9F9F9 !default;
$vapor         : #F6F6F6 !default;
$white-smoke   : #F5F5F5 !default;
$silver        : #EFEFEF !default;
$smoke         : #EEEEEE !default;
$gainsboro     : #DDDDDD !default;
$iron          : #CCCCCC !default;
$base          : #AAAAAA !default;
$aluminum      : #999999 !default;
$jumbo         : #888888 !default;
$monsoon       : #777777 !default;
$steel         : #666666 !default;
$charcoal      : #555555 !default;
$tuatara       : #444444 !default;
$oil           : #333333 !default;
$jet           : #222222 !default;
$ebony         : #111111 !default;
$black         : #000000 !default;

$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$action-color: $blue;
$base-background-color: $base;

$base-font-size: 1rem;
$base-font-color: $vapor;
$base-line-height: $base-spacing;

$heading-line-height: $base-spacing;


// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

/// social media colors ////
$facebook-blue     : #3b5998;
$bandcamp-blue     : #629aa9;
$twitter-blue      : #1da1f2;
$skype-blue        : #00aff0;      
$soundcloud-orange : #ff8800;
$spotify-green     : #2ebd59;
$snapchat-yellow   : #fffc00;
$youtube-red       : #cd201f;
$tumblr-grey       : #35465c;
$song-kick         : #f80046;

$instagram-blue    : #405de6;
$instagram-purple  : #833ab4;
$instagram-orange  : #fcaf45;
$instagram-yellow  : #ffdc80;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;


