main {
	
	section.about {	
		padding-top: $base-spacing * 2;
		
    @include media($mobile-landscape) {
			margin-top: $base-spacing * 10;
			h1 {
				padding-top: $base-spacing * 4;					
			}
		}
			
			.wrapper {
				min-height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

			} 

	/* ================================= 
	  TABLET
	==================================== */

		@include media($tablet) {
			padding-top: 0;			
			.wrapper {
				@include outer-container(80%);


			}			
			
		} // end of tablet media query




	/* ================================= 
	  DESKTOP
	==================================== */

		@include media($desktop) {
			padding-top: 0;
			margin-top: $base-spacing * 2;	
			.wrapper {
				@include outer-container(80%);
															
			}		
			
		}  // end of desktop media query

		
	}

}