main {
	

	section.contact {
		margin-top: $base-spacing * 8;
		// @include outer-container(99%);
		text-align: center;

		
		.wrapper {
			min-height: 100%;
			display: flex;
			flex-wrap: wrap;	
			justify-content: center;
			align-items: center;
			h1 {
				flex: 1 1 100%;					
			}
			
			.buttons-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-self: flex-start;
				flex: 1 1 100%;
				
				li:nth-child(2), li:nth-child(3) {
					margin-top: $base-spacing;
					margin-left: 0; 
				}
					
			}
			

			
		}
		



	/* ================================= 
	  TABLET
	==================================== */

		@include media($tablet) {
			margin-top: $base-spacing * 4;				
			.wrapper {
				@include outer-container(80%);

				.buttons-container {
					flex-direction: row;
					justify-content: center;
					align-self: flex-start;
					flex: 1 1 100%;

					li:nth-child(2), li:nth-child(3) {
						margin-top: 0;
						margin-left: $base-spacing; 
					}				
				}					
			}
		}



	/* ================================= 
	  DESKTOP
	==================================== */

		@include media($desktop) {
			.wrapper {
				@include outer-container(80%);

				.buttons-container {
					flex-direction: row;
					justify-content: center;
					align-self: flex-start;
					flex: 1 1 100%;

					li:nth-child(2), li:nth-child(3) {
						margin-top: 0;
						margin-left: $base-spacing; 
					}				
				}		

			}		
		}
	}
	
}
