main {
	
	section.webapps {
		
		a.smooth-link {
			display: none;
		}			
		height: 100vh;
		
    @include media($mobile-landscape) {
			h1 {
				padding-top: $base-spacing * 4;					
			}
		}

		img {
			@include img-responsive();	
			filter: drop-shadow(0 4px 2px rgba(34, 34, 34, .5));
		}
		
		@include outer-container(100%);
			text-align: center;	
			
			.wrapper {
				
				max-height: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-start;				
					
				h3 {
					margin-top: $base-spacing / 2;
				} 

					.container {
						margin-top: $base-spacing / 1.5;
						display: flex;
						flex-wrap: wrap;
						
						img {
							margin: 0 auto;
						}

						
						.left-col {
								flex: 1 1 100%;
								margin-left: 0;
								margin-right: 0;									
						}
						
						.right-col {
								flex: 1 1 100%;
								margin-left: 0;
								margin-right: 0;
								
								p {
									margin-bottom: $base-spacing / 2;
								}													
						}
					}

					.container:nth-child(odd) {
						display: none;
					}												

			} 



		.triangle-bottomleft {
			z-index: -1;
			position: absolute;
			width: 0;
			height: 0;
			border-bottom: 100vh solid transparent;
			border-right: 100vw solid $whisper;		
		}
		


	/* ================================= 
	  TABLET
	==================================== */

		@include media($tablet) {
			height: 100vh;
			
			
			a.smooth-link {
				display: inline-block;
			}					
			
			.wrapper {
				// padding-top: $base-spacing * 4;		
				@include outer-container(80%);

				h1{
					// padding-top: $base-spacing * 2;
				}
				
				h3 {
					margin-top: 0;
				} 				

				.container {
					margin-top: $base-spacing * 2;
					display: flex;
					flex-wrap: nowrap;
					
					p {
						margin-top: $base-spacing / 2;
					}
										
					.left-col {
							flex: 1 1 50%;
					}
					
					.right-col {
							flex: 1 1 50%;
							margin-left: $base-spacing;						
					}
				}
				
				.container:nth-child(odd) {
					display: flex;
					.left-col {
							order: 2;
					}
					
					.right-col {
							order: 1;
							margin-right: $base-spacing;
							margin-left: 0;								
					}					
				}


			}
			
			.triangle-bottomleft {
				border-bottom: 100vh solid transparent;	
				border-right: 100vw solid $whisper;						
			}
			
			
		} // end of tablet media query




	/* ================================= 
	  DESKTOP
	==================================== */

		@include media($desktop) {
			img {
				width: 100%;
			}
						
			a.smooth-link {
				display: inline-block;
			}					
			
			.wrapper {
				@include outer-container(80%);

				h1{
					// padding-top: $base-spacing;
				}
				
				h3 {
					margin-top: 0;
				} 
				
			
				.container {
					margin-top: $base-spacing * 2;
					display: flex;
					flex-wrap: nowrap;
					
					p {
						margin-top: $base-spacing / 2;
					}
										
					.left-col {
							flex: 1 1 50%;
					}
					
					.right-col {
							flex: 1 1 50%;
							margin-left: $base-spacing;						
					}
				}
				
				.container:nth-child(odd) {
					display: flex;
					.left-col {
							order: 2;
					}
					
					.right-col {
							order: 1;
							margin-right: $base-spacing;
							margin-left: 0;								
					}					
				}
				
									

															
			}
		}  // end of desktop media query

	/* ================================= 
	  DESKTOP LARGE
	==================================== */

		@include media($desktop-lg) {
			.wrapper {
				@include outer-container(60%);
			}
						
		}

		
	}

}